
<body style="width: 820px; background-color: #89f313; margin: auto">
    <div style="margin: auto; width: 820px; height: 100px; border: 1px solid green;">
        <b><span style="font-size: 75px; color: green;">header</span></b>
    </div>
    <div style="height: 413px; display: flex; ">
        <div>
           {% block content %}
           {% endblock %}
        </div>
      
    </div>
    <a href="/" style="text-decoration: none; color:green; font-size: 23px;">главное меню</a>
    <div style="margin: auto; width: 820px; height: 100px; border: 1px solid green;">
        <b><span style="font-size: 75px; color: green;">footer</span></b>
    </div>
 </body>